@import '../../../styles/app';

.headerLink {
  font-size: $font-size-small;

  a {
    display: flex;
    color: rgba(black, .6);
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      font-weight: $font-weight-semi-bold;
    }
  }

  > a {
    height: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.875rem;
    position: relative;
    justify-content: space-between;

    &:hover {
      font-weight: $font-weight-light;
      // background-color: $gray-100;
    }

    img {
      width: 15px;
      margin-right: 15px;
    }
  }
}

.arrow {
  color: $gray-400;
  transition: 0.3s;
  right: 0;
}

.arrowActive {
  transform: rotate(-90deg);
}

.headerLinkActive {
  background: rgba(#0097A7, .5);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  span {
    font-weight: $font-weight-semi-bold;
  }
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background: rgba(#000, 0.1);

  div {
    padding: 0;
  }

  ul {
    padding-left: 0;
    

    li {
      padding: 3px 0;
      list-style: none;
    }

    a {
      padding: 4px 20px 4px 44px;

      &:hover,
      &:active,
      &:focus {
        font-weight: $font-weight-semi-bold;
      }
    }
  }
}
